            <hr>
            <small><p class="text-center">Comissão Especial de Inteligência Computacional @ Sociedade Brasileira de Computação
            <br>Copyleft 🄯 Filipe Saraiva :: Código-fonte no <a href="https://gitlab.com/filipesaraiva/ceic">Gitlab</a></p></small>
        </div><!-- /.container -->
    </body>
</html>
