<html>
    <head>
        <title>{{ site.name }} :: {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <!-- JS scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js" type="module"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo-sbc.png" height=35px width="30" height="30" alt="" /> CEIC
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Início</a>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/noticias">Notícias</a>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/documentos">Documentos</a>
                        </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Eventos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/eventos">Sobre os Eventos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/eventos/bracis">BRACIS</a>
                                <a class="dropdown-item" href="/eventos/eniac">ENIAC</a>
                                <a class="dropdown-item" href="/eventos/ctdiac">CTDIAC</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comite">Comitê</a>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Sociedades Parceiras</a>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link" href="contatos">Contatos</a>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <div class="container">
