---
layout: default
---
{% assign file = page.title | downcase %}
{% assign data = site.data[file] %}

<h1>{{ data.acronym }} - {{ data.title }}</h1>

{{ data.text_pt }}

<p/>
<h2>Edições</h2>
<p/>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="accordion" id="accordion">
            <div class="card">
                <div class="card-header" id="heading{{ data.editions[0].year }}">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ data.editions[0].year }}" aria-expanded="true" aria-controls="collapse{{ data.editions[0].year }}">
                    {{ data.acronym }} {{ data.editions[0].year }}
                    </button>
                </h2>
                </div>
                <div id="collapse{{ data.editions[0].year }}" class="collapse show" aria-labelledby="heading{{ data.editions[0].year }}" data-parent="#accordion">
                <div class="card-body">
                <b>Local:</b> {{ data.editions[0].location }}<p/>
                <b>Data:</b> {{ data.editions[0].date_start | date: "%d de %b. de %Y" }} à {{ data.editions[0].date_end | date: "%d de %b. de %Y" }}<p/>
                <b>Site:</b> <a href="{{ data.editions[0].url }}">{{ data.editions[0].url }}</a><br>
                <b>Anais:</b> <a href="{{ data.editions[0].proceedings }}">{{ data.editions[0].proceedings }}</a><p/>
                <h4>Chairs</h4>
                {% assign type_chair = nil %}
                {% for chair in data.editions[0].chairs %}
                {% if type_chair != chair.type %}
                {% if type_chair != nil %}
                </ul>
                {% endif %}
                <h5>{{ chair.type }}</h5>
                {% assign type_chair = chair.type %}
                <ul>
                {% endif %}
                <li>{{ chair.name }}, {{ chair.institution }}</li>
                {% endfor %}
                </div>
                </div>
            </div>
            {% for edition in data.editions offset:1 %}
            <div class="card">
                <div class="card-header" id="heading{{ edition.year }}">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ edition.year }}" aria-expanded="false" aria-controls="collapse{{ edition.year }}">
                    {{ data.acronym }} {{ edition.year }}
                    </button>
                </h2>
                </div>
                <div id="collapse{{ edition.year }}" class="collapse" aria-labelledby="heading{{ edition.year }}" data-parent="#accordion">
                <div class="card-body">
                <b>Local:</b> {{ edition.location }}<p/>
                <b>Data:</b> {{ edition.date_start | date: "%d de %b. de %Y" }} à {{ edition.date_end | date: "%d de %b. de %Y" }}<p/>
                <b>Site:</b> <a href="{{ edition.url }}">{{ edition.url }}</a><br>
                <b>Anais:</b> <a href="{{  edition.proceedings }}">{{  edition.proceedings }}</a><p/>
                <h4>Chairs</h4>
                {% assign type_chair = nil %}
                {% for chair in edition.chairs %}
                {% if type_chair != chair.type %}
                {% if type_chair != nil %}
                </ul>
                {% endif %}
                <h5>{{ chair.type }}</h5>
                {% assign type_chair = chair.type %}
                <ul>
                {% endif %}
                <li>{{ chair.name }}, {{ chair.institution }}</li>
                {% endfor %}
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
